$blue: #1b8bcc;
$white: white;
$snowWhite: #eaeaea;
$camel: #f18300;

body{
	background: white;
	margin: 0;
	padding: 0;
}
*{
	font-family: lato, sans-serif;
	color: $white;

}

//Main Navbar Component//
.navbar {
  background-color: $blue !important;
	padding: .1rem 5rem !important;
}
.navigationBar .navbar-brand {
	position: relative;
	margin-right: 0 !important;
	font-family: 'Cookie', cursive;
	text-transform: capitalize !important;
	font-size: 32px !important;
	z-index: 100;
}
.navbar-collapse {
  justify-content: center;
	margin-left: -60px;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,0.9) !important;
	margin: 0 7px;
	transition: 0.2s;
}
.fa-shopping-cart{
	font-size: 17px;
}

// Page One Content //

.showCase{
	width: 100%;
	height: 90vh;
	overflow: hidden;
}
.showCase .fas{
	position: absolute;
	font-size: 40px;
	top: 45%;
	color: $camel;
	z-index: 100;
	cursor: pointer;
	background: tranparent;
}
.showCase .fa-chevron-circle-left{
	left: 10px;
}
.showCase .fa-chevron-circle-right{
	right: 10px;
}
.showCase-slide-wrapper{
	position: relative;
	width: 300%;
	height: 100%;
	display: flex;
	transition: 0.3s;
}
.showcase-slide{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
}
%showcase-before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
%button-setup{
	padding: 10px 60px;
	font-size: 20px;
	word-spacing: 3px;
	font-weight: bold;
	border: none;
	outline: none;
	margin-top: 40px;
	border-radius: 35px;
	box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.4);
	cursor: pointer;
}
.showCase .one{
	background: url('images/camera-feet-footwear.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.showCase .one:before{
  @extend %showcase-before;
	background-color: rgba(0,0,0,0.3);
}
.showCase .one div{
	position: relative;
	min-width: 30%;
  max-width: 65%;
}
.showCase .one div p{
	font-size: 20px;
}
.showCase .one div h2{
	font-size: 40px;
	margin-top: -15px;
	color: $camel;
}
.showCase .one div h4{
	font-size: 22px;
	margin-top: -5px;
	word-spacing: 5px;
	padding-bottom: 10px;
	border-bottom: 2px solid #f18300;
}
.showCase .one div h1{
	color: $camel;
	font-size: 60px;
}
.showCase .one div button{
  @extend %button-setup;
	background: $camel;
}
.showCase .two{
	background: url('images/shoes-slider-bg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.showCase .two:before{
	@extend %showcase-before;
	background-color: rgba(236,236,236,0.9);
}
.showCase .two img{
	position: relative;
	width: 40%;
	height: 80%;
}
.showCase .two div{
	position: relative;
	width: 520px;
}
.showCase .two h3{
	font-size: 23px;
  color: $blue;
	text-align: center;
}
.showCase .two h1{
	font-size: 60px;
	text-shadow: 0 5px 0 rgba(0,0,0,0.2);
	text-align: center;
	color: black;
}
.showCase .two h1 span{
	color: $blue;
}
.showCase .two p{
  font-size: 30px;
	word-spacing: 2px;
	color: #2a2a2a;
	text-align: center;
}
.showCase .two div button{
	@extend %button-setup;
	background: $blue;
}
.showCase .three{
	background: url('images/classic-close-up-clothes.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.showCase .three:before{
	@extend %showcase-before;
	background-color: rgba(0,0,0,0.4);
}
.showCase .three div{
	position: absolute;
	min-width: 40%;
	max-width: 80%;
	left: 70px;
}
.showCase .three div h5{
	font-size: 20px;
	word-spacing: 4px;
}
.showCase .three div h3{
	font-size: 40px;
	margin-top: -5px;
}
.showCase .three div h1{
	font-size: 55px;
	word-spacing: 5px;
	color: $camel;
}
.showCase .three div p{
	font-size: 60px;
	margin-top: -15px;
}
.showCase .three div button{
	@extend %button-setup;
	background: $camel;
}

// Service Bar Component//
.service-bar{
	position: relative;
	width: 100%;
	height: auto;
	background: $snowWhite;
	border-top: #e1e1e1;
	border-bottom: #e1e1e1;
}
.service-bar-grid{
	position: relative;
	height: 17vh;
	display: flex;
	align-items: center;
	border-left: 1px solid #c7c5c5;
}
.service-bar-grid:nth-child(4){
	border-right: 1px solid #c7c5c5;
}
.service-bar-grid-icon img{
	padding-left: 10px;
}
.service-bar-grid-text{
	position: relative;
	padding-left: 20px;
	color: $blue;
}
.service-bar-grid-text h4{
	font-size: 18px;
	margin-top: 15px;
	font-weight: bold;
	line-height: 1;
	color: $blue;
}
.service-bar-grid-text p{
	font-size: 14px;
	line-height: 1.2;
	color: $blue;
}

// features Banner Component //
.features-banner-wrapper{
	position: relative;
	width: 100%;
	height: auto;
	margin: 10px 0 15px;
}
.features-grid div{
	position: relative;
	min-height: 328px;
	text-align: center;
	text-transform: uppercase;
	color: white;
	padding-top: 130px;
	cursor: pointer;
}
.features-grid div:before{
  position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.2);
	z-index: 1;
}
.features-grid div:after{
  position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0.2);
	transform: scale(0);
	transition: 0.4s ease-in-out;
}
.features-grid div:hover:after{
	transform: scale(1);
}
.features-grid h2{
	position: relative;
	font-size: 25px;
	font-weight: bold;
	z-index: 10;
	word-spacing: 3px;
}
.features-grid .one{
	background: url('images/Sneakers-Collection.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.features-grid .two{
	background: url('images/leather-dress-shoes.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.features-grid .three{
	background: url('images/new-summer-collection.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

// Main Content Component //
.aside-wrapper{
	width: 100%;
	height: auto;
}
//Category Component Navbar//
.category-navbar-wrapper{
	display: none;
}
.category-navbar-wrapper .navbar {
  background-color: $blue !important;
}
.category-navbar-wrapper .navbar-collapse{
	margin-top: 15px;
}
.category-navbar-wrapper .navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,0.9) !important;
	margin-left: 30px;
	transition: 0.2s;
}
.category-navbar-wrapper .navbar-dark .navbar-nav .nav-link:hover {
	margin-left: 40px;
}

// ProductList //
.product-list-wrapper{
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
.product-list-wrapper li{
	position: relative;
	width: 100%;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
	background-color: white;
	text-align: center;
	margin-bottom: 30px;
}
.product-list-wrapper li img{
	width: 100%;
	height: 200px;
}
.product-list-wrapper li h5{
	margin-top: 10px;
	font-size: 16px;
	height: 6vh;
	overflow: hidden;
	font-weight: bold;
	color: black;
}
.product-list-wrapper li h4{
	color: black;
	opacity: 0.8;
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: bold;
}
.product-list-wrapper li h4 span{
	color: $camel;
	text-decoration: line-through;
	margin-right: 5px;
}
.stars .fas{
	font-size: 14px;
	color: $camel;
}
.stars i:nth-child(5){
	color: grey;
}
.product-list-wrapper li button{
	width: 100%;
	height: 5vh;
	background-color: $blue;
	color: $white;
	border: 1px solid $blue;
	outline: none;
	font-weight: bold;
	margin-top: 0;
	cursor: pointer;
	margin-top: 5px;
}
.product-list-wrapper li button:hover{
	background-color: $white;
	border: 1px solid $blue;
	color: $blue;
}

// Category List Component //
.category-list-wrapper{
	position: relative;
	width: 100%;
	height: 420px;
	margin-bottom: 18%;
	background: #FAF8F8;
	border: 1px solid $blue;
}
.category-list-wrapper .navbar-brand {
	font-family: lato, sans-serif !important;
}
.category-list-wrapper p{
	position: relative;
	width: 100%;
	height: 6vh;
	color: white;
	letter-spacing: 1px;
	font-weight: bold;
	padding-left: 20px;
	padding-top: 7px;
	background: $blue;
}
.category-list-wrapper li{
	list-style-type: none;
	margin-left: -20px;
}
.category-list-wrapper li span{
	transition: 0.2s;
	cursor: pointer;
	color: black;
}
.category-list-wrapper li i{
	color: #5a5a5a;
	margin-right: 3px;
}
.category-list-wrapper li span:hover{
	margin-left: 15px;
	color: $blue;
}
.category-list-wrapper li span:hover i{
	color: $blue;
}

// Offer Banner Component //
.offer-banner-container{
	position: relative;
	margin-bottom: 25%;
	width: 100%;
	height: 200px;
}
.offer-banner-container p{
	font-weight: bold;
	line-height: 0.2;
}
.offer-banner-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	background: url('images/kal-visuals-1169706-unsplash.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.offer-banner-wrapper:before{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(27, 139, 204,0.8);
}
.offer-banner-wrapper:after{
	position: absolute;
	content: '';
	width: 100px;
	height: 400px;
	left: -100px;
	top: -230px;
	transform: rotate(45deg);
	background: white;
	opacity: 0.2;
	transition: 0.3s;
}
.offer-banner-wrapper:hover:after{
	left: 300px;
	top: 0px;
}
.offer-banner-wrapper .banner-text-wrapper{
	position: relative;
	padding-top: 60px;
	text-align: center;
	color: $white;
	z-index: 100;
}
.offer-banner-wrapper .banner-text-wrapper p{
	word-spacing: 3px;
}
.offer-banner-wrapper .banner-text-wrapper h4{
	font-weight: bold;
	font-size: 22.5px;
	line-height: 0.6;
}
.offer-banner-wrapper img{
	width: 100px;
	height: 70px;
	margin: 15px 1% 0;
}

// Blog Component //
.blog-container{
	position: relative;
	margin-bottom: 5%;
	width: 100%;
	height: auto;
}
.blog-container i{
	position: absolute;
	font-size: 30px;
	top: 50%;
	color: $camel;
	cursor: pointer;
}
.blog-container .fa-angle-left{
	left: -19px;
}
.blog-container .fa-angle-right{
	right: -19px;
}
.blog-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.blog-wrapper h5{
	word-spacing: 3px;
	font-size: 17px;
	line-height: 1.4;
	font-weight: bold;
	color: black;
}
.blog-wrapper-slider{
	position: relative;
	width: 400%;
	display: flex;
	transition: 0.3s ease-in-out;
}
.blog-content{
  position: relative;
	width: 100%;
}
.blog-content img{
	width: 100%;
	min-height: 170px;
}
.blog-content h3{
	margin-top: 20px;
	color: black;
}
.blog-content span{
	color: $camel;
}
.blog-content p{
	color: black;
}

// NewsLetter Component //
.newsletter-wrapper{
	position: relative;
	height: auto;
	display: flex;
	padding: 15px 0;
	align-items: center;
	background: url("images/chucks-classic-converse.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.newsletter-wrapper:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(27, 139, 204,0.92);
}
.newsletter-wrapper div{
	position: relative;
	z-index: 100;
	width: 100%;
	padding: 30px 0;
	text-align: center;
	color: $white;
}
.newsletter-wrapper div h5{
	word-spacing: 3px;
	font-weight: bold;
}
.newsletter-wrapper div h4{
	word-spacing: 3px;
	font-weight: bold;
}
.newsletter-wrapper p{
	padding: 0 20px;
	color: $snowWhite;
}
.newsletter-wrapper div input{
	position: relative;
	margin-top: 20px;
	padding-left: 10px;
  width: 80%;
	left: 10%;
	outline: none;
	color: $white;
	display: block;
	background: transparent;
	border: 1px solid #F4F1F1;
}
.newsletter-wrapper div input::placeholder{
	color: #D9D9D9;
}
.newsletter-wrapper div button{
	margin-top: 20px;
	padding: 5px 10px;
	font-weight: #1a1a1a;
	border: none;
	outline: none;
	color: black;
	border-radius: 3px;
	background: $white;
}
.newsletter-wrapper div button:hover{
	background: $camel;
	color: $white;
}

/*Page Two*/
.item-detail-container{
	margin-top: 50px;
	margin-bottom: 50px;
}
.item-detail-container .col-lg-6, .col-sm-12{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.image-view-wrapper{
	position: relative;
	display: flex;
	height: 75vh;
	border: 1px solid #eaeaea;
}
.image-view-wrapper .big-image-view{
	position: relative;
  width: 80%;
}
.image-view-wrapper .big-image-view img{
  width: 100%;
	height: 100%;
	cursor: pointer;
}
.image-view-wrapper .small-image-view{
	position: relative;
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.image-view-wrapper .small-image-view img{
	width: 100%;
	height: 25%;
	border: 1px solid #eaeaea;
	cursor: pointer;
}
.detail-wrapper{
  position: relative;
}
.detail-wrapper-spacer{
	padding-left: 20px;
}
.price-ratings-Wrapper{
	margin-top: 15px;
}
.detail-wrapper-spacer h3{
	color: black;
}
.price-ratings-Wrapper h4{
  float: left;
	font-weight: bold;
  margin-right: 30px;
	color: black;
}
.price-ratings-Wrapper span{
	margin-left: 10px;
	color: black;
}
.detail-wrapper p{
  margin-top: 25px;
	max-height: 34vh;
	overflow: hidden;
	color: black;
}
.detail-wrapper .color-grid{
	position: relative;
	width: 37%;
	height: 7vh;
	left: -5px;
	display: flex;
	margin-top: 30px;
}
.detail-wrapper .color-grid img{
	height: 100%;
	margin: 0 5px;
	border: 1px solid $camel;
	cursor: pointer;
}
.detail-wrapper button{
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
	top: 50px;
	left: -20px;
  background: $blue;
	font-weight: bold;
  color: white;
	margin: 0 20px;
  padding: 5px 40px;
	border: 1px solid $blue;
}
.detail-wrapper button:hover{
	background: $white;
	color: $blue;
}

/*Page Three*/
.cartContainer{
	position: relative;
	list-style: none;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	left: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}
.cartContainer h1{
	font-family: fantasy;
	margin-top: 20px;
	color: black;
}
.cartContainer table{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
}
.cartContainer table th{
	background: $snowWhite;
	font-weight: normal;
	color: black;
}
.cartContainer table td{
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.cartContainer table img{
	width: 100px;
}
.cartContainer h4{
	font-size: 20px;
	color: black;
}
.cartContainer table h5{
	font-size: 20px;
	color: black;
}
.cartContainer table input{
	color: black;
}
.cartContainer table span{
	width: 30px;
	font-size: 15px;
	color: black;
	padding: 5px 10px;
}
.cartContainer table button{
	background: $blue;
	color: white;
	border: none;
	outline: none;
	padding: 5px 20px;
}
.cartContainer .total-layout-container{
  position: relative;
	width: 100%;
	height: 35vh;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.cartContainer .total-layout-container button{
	background: $camel;
	color: white;
	border: none;
	outline: none;
	padding: 5px 20px;
	margin-bottom: 20px;
}
.cartContainer .total-layout{
	position: absolute;
	width: 350px;
	height: 25vh;
	right: 0;
	color: black;
	border: 1px solid #cccccc;
	margin-bottom: 50px;
}
.cartContainer .total-layout h5{
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: bold;
	color: #4a4a4a;
}
.cartContainer .total-layout h5 span{
	margin-left: 10px;
	color: black;
}

// Footer Component //
.footer-list{
   background: $blue;
	 color: $white;
	 padding: 80px 0 60px;
}
.footer-list ul{
   list-style: none;
}
.footer-list ul li{
	margin-bottom: 5px;
	font-size: 15px;
}
.footer-list ul li:hover{
	color: $snowWhite;
	cursor: pointer;
}
.footer-list .list-title{
	margin-bottom: 10px;
	font-size: 15px;
}
.footer-list ul .fas{
	color: $camel;
	margin-right: 3px;
}

// Media Queries //
@media (min-width: 1200px){
.container {
    max-width: 1200px !important;
}
.product-list-wrapper .col-lg-3{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
.col-lg-9{
	padding-left: 15px !important;
	padding-right: 20px !important;
}
}
@media (min-width: 993px) and (max-width: 1199px){
.container {
    max-width: 1050px !important;
}
.product-list-wrapper .col-lg-3{
	padding-left: 5px !important;
	padding-right: 5px !important;
}
.col-lg-9{
	padding-left: 15px !important;
	padding-right: 25px !important;
}
}
@media (max-width: 1120px){
	.showCase .two div{
		width: 450px;
		left: -3%;
	}
	.showCase .two h3{
		font-size: 23px;
	}
	.showCase .two h1{
		font-size: 50px;
	}
	.showCase .two p{
		font-size: 25px;
	}
	.showCase .one div button{
		margin-left: 0px;
		margin-top: 20px;
		padding: 10px 40px;
		font-size: 18px;
	}
	.showCase .two div button{
		margin-left: 0px;
		margin-top: 20px;
		padding: 10px 40px;
		font-size: 18px;
	}
	.showCase .three div button{
		margin-left: 0px;
		margin-top: 20px;
		padding: 10px 40px;
		font-size: 18px;
	}
}
@media (max-width: 992px){
	.container {
	    max-width: 1100px;
	}
	.category-navbar-wrapper{
		display: block;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.category-list-wrapper{
		display: none;
	}
	.offer-banner-container{
		display: none;
	}
	.newsletter-wrapper{
		margin-bottom: 30px;
	}
	.detail-wrapper-spacer{
		padding-left: 0px;
		margin-top: 20px;
		padding-bottom: 150px;
	}
	.footer-list ul{
		 text-align: center;
		 padding: 0;
		 margin-bottom: 50px;
	}
}
@media (max-width: 780px){
	.showCase .two div{
		width: 400px;
	}
	.showCase .two h3{
		font-size: 22px;
	}
	.showCase .two h1{
		font-size: 55px;
	}
	.showCase .two p{
		font-size: 25px;
	}
}
@media (max-width: 650px){
	tr{
		display: block;
		border-top: 1px solid #eaeaea;
		border-bottom: 1px solid #eaeaea;
	}
	.th-container{
		display: none;
	}
	.cartContainer table td{
		display: block;
		border: none;
	}
	.cartContainer table button{
		margin-bottom: 30px;
	}
	.cartContainer .total-layout{
		width: 100%;
		border: 1px solid #cccccc;
		border-left: none;
		border-right: none;
	}
}
@media (max-width: 575px){
	.showCase .one div p{
		font-size: 25px;
	}
	.showCase .one div h2{
		font-size: 40px;
	}
	.showCase .one div h4{
		font-size: 20px;
	}
	.showCase .one div h1{
		font-size: 50px;
	}
	.showCase .two img{
		display: none;
	}
	.showCase .two div{
		width: 80%;
		left: 0;
	}
	.showCase .three div{
		position: relative;
		left: 0;
	}
	.showCase .three div h5{
		font-size: 28px;
	}
	.showCase .three div h3{
		font-size: 32px;
		margin-top: -5px;
		font-weight: bold;
	}
	.navbar {
		padding: .5rem 2rem !important;
	}
	.blog-container{
		width: 90%;
		left: 5%;
	}
  .item-detail-container {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.detail-wrapper button{
		left: -15px;
		margin: 0 15px;
	}
}
@media (max-width: 430px){
	.features-banner-wrapper{
		margin: 0;
	}
	.container {
		 padding-left: 0 !important;
	   padding-right: 0 !important;
		 overflow-x: hidden;
	}
	.product-list-wrapper .col-lg-3{
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.col-lg-9{
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
	.item-detail-container {
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	.detail-wrapper button{
		left: -15px;
		margin: 0 15px;
	}
}
